
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead", "Default")

<body>

    @Html.Action("PartialNavbar", "Default")

    @Html.Action("PartialBanner", "Default")

    @Html.Action("PartialCountry", "Default")

    @Html.Action("PartialFooter", "Default")

    @Html.Action("PartialScript", "Default")

</body>
</html>