@model List<Project2WooxTravel.Entities.Destination>

@{
    ViewBag.Title = "DestinationList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Destinasyon İşlemleri</div>
                    </div>
                    <div class="card-body">

                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">Destinasyon Id</th>
                                    <th scope="col">Ülke</th>
                                    <th scope="col">Şehir</th>
                                    <th scope="col">Gün/Gece</th>
                                    <th scope="col">Fiyat</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                    <th scope="col">Sitede Gör</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.DestinationId</td>
                                        <td>@item.Country</td>
                                        <td>@item.City</td>
                                        <td>@item.DayNight</td>
                                        <td>@item.Price</td>
                                        <td><a href="#" class="btn btn-danger">Sil</a></td>
                                        <td><a href="#" class="btn btn-success">Güncelle</a></td>
                                        <td><a href="#" class="btn btn-warning">Sitede Gör</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="#" class="btn btn-primary">Yeni Destinasyon Girişi</a>
                    </div>
                </div>





            </div>

        </div>
    </div>
</div>

